@ -1,28 +0,0 @@
# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
my_env/

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Machine Learning / Data ---
# Ignora archivos de datos pesados (comenta si necesitas subir alguno pequeño)
#*.csv
*.json
*.h5
*.pth
*.pkl
*.npy
#data/
data/processed/*
datasets/

# --- Configuración de IDE ---
.vscode/
.idea/
.DS_Store